body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(331, 86%, 33%);
}

canvas {
    border: 5px solid hsl(344, 74%, 26%);
    background-color: #4f0727;
}