@font-face {
    font-family: "CreakingCrypt-Regular";
    src: url("../fonts/CreakingCrypt-Regular.otf") format("opentype");
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(105, 100, 103);
    
}
