@font-face {
    font-family: "Woodstamp";
    src: url("../fonts/Woodstamp.otf");
}

@font-face {
    font-family: "Typewriter";
    src: url("../fonts/veterantypewriter.ttf");
}

@font-face {
    font-family: "Fawn";
    src: url("../fonts/fawn.ttf") format("truetype");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #c2c9c6;
    background-image: url("../images/temp-bg.webp");
    background-size: cover;
    
}

canvas {
    border: 1px solid #113420;
    background-color: #658F65;
}
