@font-face {
    font-family: "Spicy Sale";
    src: url("../fonts/Spicy Sale.otf") format("opentype");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #091f46;
    cursor: cell;
    /* cursor: url("../images/cursor.png") auto; */
}

canvas {
    border: 1px solid #0051dc;
    background-color: #000;
}
