@font-face {
    font-family: "Pixel";
    src: url("../fonts/KiwiSoda.ttf");
}


body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/fond\ du\ site.png");
    background-repeat: no-repeat;
    background-size: cover;
}
canvas {
    border: 2px solid rgb(73, 27, 116);
    
}