/*////////////////////////////////////// titre ///////////////////////////////////////////////////*/
@font-face{
   font-family: "JetSet";
   src: url("../fonts/JetSet.woff2") format("woff2");
   
}



