@font-face {
    font-family: "fette";
    src: url("../font/FetteNationalFraktur.ttf") format("opentype");
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #03020e;
}

canvas {
    border: 1px solid #037423;
    background-color: #000;
}