html{
font-family: "Candal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('../images/bck.png');
    background-repeat: repeat;
    /*background-color: #031102;*/
}

canvas {
    border: 5px solid #324f40;
    background-color: #000;
    box-shadow: 1px 1px 20px;
}

p, h3{
    color: white;
    text-align: center;
}

h1{
    color: rgba(255, 255, 255, 0);
}

.serveNowInst h1{
    color: rgba(255, 0, 0, 0.228);
}

.serveNowBG {
    background-image: url("../images/black.png");
    background-size: cover;
    background-position: center;
}

.serveNowBorder {
    border-color: black !important;
}

.serveNowText p,h3{
    color: rgb(0, 0, 0) !important;
}

.hideText h1{
    color: #000;
}