@font-face {
    font-family: "MorkDungeon";
    src: url(../font/Mork\ Dungeon.ttf);
}

@font-face {
    font-family: "HerculesPixel";
    src: url(../font/HerculesPixelFontOutline-4nqgK.otf);
}


body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(29, 27, 22, 1);
    
}
canvas {
    /* border: 1px solid lightblue; */
    cursor: url("../img/plume3.png"), crosshair;
    transform: scale(1.4);
    /* border: 3px solid blue; */
}
