html, body{
    background-color: rgb(89, 119, 145);
}
canvas{
    border: 3px solid white;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;
    border-radius: 3px;
}
@font-face {
  font-family: Plante;
  src: url("../fonts/plante/Plante.ttf"); 
}
@font-face {
  font-family: chat; 
  src: url("../fonts/Cat_paw.ttf"); 
}
