body {
    background: url("../images/placeholderBG.jpg");
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    border: 1px solid lightblue;
    background-color: rgb(255, 255, 255);
}
