body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 216, 138);
    cursor:  url("../images/beecursor.png"), auto;
}

canvas{
    border: 15px dashed rgb(105, 79, 49);
    border-radius: 50px;
    background-color: #cdaa6a;
    cursor:  url("../images/beecursor.png"), auto;
    
}
.hobee {
    position: center;
    top: 20px;
    left: 20px;
    width: 300px;
    height: auto;
}
